<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- Project Details -->
<div class="container create-project">

    <div class="header">
        <div class="title-container">
            <p>Create Project</p>
        </div>
    
        <div class="project-creation-stepper">   
            <span class="step-name" style="color: #34A7AA">Project Details</span>
            <hr style="min-width: 16px;  width: 15px; height: 3px; border-radius: 100px; margin: 7px 18px 7px 18px;">
            <span class="step-name">Inclusions</span>
            <hr style="min-width: 16px;  width: 15px; height: 3px; border-radius: 100px; margin: 7px 18px 7px 18px;">
            <span class="step-name">Members</span>
            <hr style="min-width: 16px;  width: 15px; height: 3px; border-radius: 100px; margin: 7px 18px 7px 18px;">
            <span class="step-name">Component Settings</span>
        </div>
    </div>
 
    <div class="stepper-body">
        <div class="upload-image">
            <img src="../../../assets/icons/images.svg" style="width: 30px; height: 30px; margin: 0px 0px 5px 0px;">
            <p>Upload Image</p>
        </div>
        
        <div class="project-detail-forms">
            <p class="gray-text">Title*</p>
            <input type="text" class="detail-form" placeholder="Title - input">
            <p class="gray-text">Type*</p>
            <select type="text" class="detail-form-select">
                <option>Select - dropdown</option>
            </select>
            <p class="gray-text">Description</p>
            <input type="text" class="detail-form" placeholder="Input text box">
            <p class="gray-text">Location</p>
            <input type="text" class="detail-form location-form" placeholder="Location">

            <div class="form-row">
                <div class="form-column" style="width: 49%;">
                    <p class="gray-text">Start Date*</p>
                    <input type="text" class="detail-form date-form" placeholder="00-00-0000">
                </div>
                <div class="form-column" style="width: 49%;">
                    <p class="gray-text">End Date*</p>
                    <input type="text" class="detail-form date-form" placeholder="00-00-0000">
                </div>
            </div>

            <p class="gray-text">Client</p>
            <input type="text" class="detail-form" placeholder="Client- Input">
            
            <div class="form-row">
                <div class="form-column" style="width: 48.5%;">
                    <p class="gray-text">Original Budget</p>
                    <input type="text" class="detail-form" placeholder="Number - Input">
                </div>
                <div class="form-column" style="width: 48.5%;">
                    <p class="gray-text">Current Budget</p>
                    <input type="text" class="detail-form" placeholder="Number - Input">
                </div>
            </div>
        </div>
    </div>

    <div class="button-container">
        <div class="cyan-button">
            <p>Next</p>
        </div>
    </div>

</div>
<!-- Project Details -->


<!-- Inclusions -->
<div class="container create-project">

    <div class="header">

        <div class="title-container">
            <p>Create Project</p>
        </div>

        <div class="project-creation-stepper">   
            <span class="step-name">Project Details</span>
            <hr style="min-width: 16px;  width: 15px; height: 3px; border-radius: 100px; margin: 7px 18px 7px 18px;">
            <span class="step-name" style="color: #34A7AA">Inclusions</span>
            <hr style="min-width: 16px;  width: 15px; height: 3px; border-radius: 100px; margin: 7px 18px 7px 18px;">
            <span class="step-name">Members</span>
            <hr style="min-width: 16px;  width: 15px; height: 3px; border-radius: 100px; margin: 7px 18px 7px 18px;">
            <span class="step-name">Component Settings</span>
        </div>
    </div>
 
    <div class="stepper-body">

        <div class="dropdown-container">
            <div class="dropdown-selection">
                <div class="form-column">
                    <p class="cyan-text dropdown-title">STEER SOLUTIONS</p>
                    <p class="gray-text">Lorem Ipsum Dolor sit amet, consectetur adipiscing elit. Orci nunc ut eget quis ut montes, fermentum, viverra.</p>
                </div>
            </div>
            <div class="dropdown-selection">
                <div class="form-column">
                    <p class="cyan-text dropdown-title">STEER MODULES</p>
                    <p class="gray-text">Lorem Ipsum Dolor sit amet, consectetur adipiscing elit. Orci nunc ut eget quis ut montes, fermentum, viverra.</p>
                </div>
            </div>
        </div>

        <div class="feature-settings">
            <p class="cyan-text">FEATURE SETTINGS</p>
            <p class="bold-text feature-settings-title">Dashboard</p>
            <p class="gray-text feature-settings-detail">Lorem Ipsum Dolor sit amet, consectetur adipiscing</p>
            <div class="form-row">
                <p class="bold-text feature-settings-title indented" style="font-size:12px; margin-top: 5px;">Custom Dashboard</p>
                <input type="checkbox">
            </div>
            <p class="gray-text feature-settings-detail indented">Lorem Ipsum Dolor sit amet, consectetur</p>

            <hr style="min-width: 70%; height: 1px; border-radius: 100px; margin: 15px 5px 15px 5px;">

            <p class="bold-text feature-settings-title">Gantt Chart</p>
            <p class="gray-text feature-settings-detail">Lorem Ipsum Dolor sit amet, consectetur adipiscing</p>
            <div class="form-row">
                <p class="bold-text feature-settings-title indented" style="font-size:12px; margin-top: 5px;">Multiple Gantt Chart</p>
                <input class="form-check" type="checkbox">
            </div>
            <p class="gray-text feature-settings-detail indented">Lorem Ipsum Dolor sit amet, consectetur</p>

            <hr style="min-width: 70%; height: 1px; border-radius: 100px; margin: 15px 5px 15px 5px;">

            <div class="form-row">
                <p class="bold-text feature-settings-title">Drawing</p>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
            <p class="gray-text feature-settings-detail">Lorem Ipsum Dolor sit amet, consectetur adipiscing</p>

            <hr style="min-width: 70%; height: 1px; border-radius: 100px; margin: 15px 5px 15px 5px;">
        </div>
    </div>

    <div class="button-container">
        <div class="gray-button">
            <p>Back</p>
        </div>
        <div class="cyan-button">
            <p>Next</p>
        </div>
    </div>

</div>
<!-- Inclusions -->

<!-- Inclusions 2 -->
<div class="container create-project">

    <div class="header">

        <div class="title-container">
            <p>Create Project</p>
        </div>

        <div class="project-creation-stepper">   
            <span class="step-name">Project Details</span>
            <hr style="min-width: 16px;  width: 15px; height: 3px; border-radius: 100px; margin: 7px 18px 7px 18px;">
            <span class="step-name" style="color: #34A7AA">Inclusions</span>
            <hr style="min-width: 16px;  width: 15px; height: 3px; border-radius: 100px; margin: 7px 18px 7px 18px;">
            <span class="step-name">Members</span>
            <hr style="min-width: 16px;  width: 15px; height: 3px; border-radius: 100px; margin: 7px 18px 7px 18px;">
            <span class="step-name">Component Settings</span>
        </div>
    </div>
 
    <div class="stepper-body">

        <div class="dropdown-container">
            <div class="dropdown-selection-active">
                <p class="cyan-text dropdown-title">STEER SOLUTIONS</p>
                <p class="gray-text">Lorem Ipsum Dolor sit amet, consectetur adipiscing elit. Orci nunc ut eget quis ut montes, fermentum, viverra.</p>
                <div class="form-row">
                    <span class="dropdown-options">
                        <p class="bold-text" style="font-weight: 400; margin-bottom: 3px">Materials Mangement BOM</p>
                        <p class="gray-text">Upload and access your comprehensive list of parts, items, and other materials.</p>
                    </span>
                    <span class="dropdown-options">
                        <p class="bold-text" style="font-weight: 400; margin-bottom: 3px">Materials Mangement BOQ</p>
                        <p class="gray-text">Upload and see your total number of materials required to complete a project.</p>
                    </span>
                    <span class="dropdown-options">
                        <p class="bold-text" style="font-weight: 400; margin-bottom: 3px;">Progressive Inspection Management</p>
                        <p class="gray-text">Upload and access your comprehensive list of parts, items, and other materials.</p>
                    </span>
                </div>
                <div class="form-row">
                    <span class="dropdown-options">
                        <p class="bold-text" style="font-weight: 400; margin-bottom: 3px">Materials Mangement BOM</p>
                        <p class="gray-text">Upload and access your comprehensive list of parts, items, and other materials.</p>
                    </span>
                </div>
            </div>
            <div class="dropdown-selection">
                <p class="cyan-text dropdown-title">STEER MODULES</p>
                <p class="gray-text">Lorem Ipsum Dolor sit amet, consectetur adipiscing elit. Orci nunc ut eget quis ut montes, fermentum, viverra.</p>
            </div>
        </div>

        <div class="feature-settings">
            <p class="cyan-text">FEATURE SETTINGS</p>
            <p class="bold-text feature-settings-title">Dashboard</p>
            <p class="gray-text feature-settings-detail">Lorem Ipsum Dolor sit amet, consectetur adipiscing</p>
            <div class="form-row">
                <p class="bold-text feature-settings-title indented" style="font-size:12px; margin-top: 5px;">Custom Dashboard</p>
                <input type="checkbox">
            </div>
            <p class="gray-text feature-settings-detail indented">Lorem Ipsum Dolor sit amet, consectetur</p>

            <hr style="min-width: 70%; height: 1px; border-radius: 100px; margin: 15px 5px 15px 5px;">

            <p class="bold-text feature-settings-title">Gantt Chart</p>
            <p class="gray-text feature-settings-detail">Lorem Ipsum Dolor sit amet, consectetur adipiscing</p>
            <div class="form-row">
                <p class="bold-text feature-settings-title indented" style="font-size:12px; margin-top: 5px;">Multiple Gantt Chart</p>
                <input class="form-check" type="checkbox">
            </div>
            <p class="gray-text feature-settings-detail indented">Lorem Ipsum Dolor sit amet, consectetur</p>

            <hr style="min-width: 70%; height: 1px; border-radius: 100px; margin: 15px 5px 15px 5px;">

            <div class="form-row">
                <p class="bold-text feature-settings-title">Drawing</p>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
            <p class="gray-text feature-settings-detail">Lorem Ipsum Dolor sit amet, consectetur adipiscing</p>

            <hr style="min-width: 70%; height: 1px; border-radius: 100px; margin: 15px 5px 15px 5px;">
        </div>
    </div>

    <div class="button-container">
        <div class="gray-button">
            <p>Back</p>
        </div>
        <div class="cyan-button">
            <p>Next</p>
        </div>
    </div>

</div>
<!-- Inclusions 2 -->

<!-- Bootstrap Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

